<div class="container" *ngIf="productFormGroup">
  <form [formGroup]="productFormGroup">
    {{productFormGroup.value|json}}
    <div class="">
      <label> Name</label>
      <input type="text" class="form-control" formControlName="name"
      [ngClass]="{'is-invalid': submitted && productFormGroup.controls.name.errors}">
      <div *ngIf="submitted && productFormGroup.controls.name.errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls.name.errors.required"> Name is Required</div>
      </div>
    </div>
    <div class="form-text">
      <label> Price</label>
      <input type="text" class="form-control" formControlName="price">
    </div>
    <div class="form-text">
      <label> Quantity</label>
      <input type="text" class="form-control" formControlName="quantity">
    </div>
    <div class="form-text">
      <label> Selected</label>
      <input type="checkbox" formControlName="selected" class="form-check">
    </div>
    <div class="form-text">
      <label> Available</label>
      <input type="checkbox" formControlName="available" class="form-check">
    </div>
    <button class="btn btn-outline-success" (click)="onSaveProduct()">Save</button>
  </form>
</div>
